<div class="container">
<%= link_to '<< Portfolios', portfolios_path, class: 'btn btn-secondary btn-sm mb-3' %>
  <h2>Editar Portfolio</h2>
	<%= simple_form_for @portfolio do |f| %>
		<%= f.input :name, label: 'Nome' %>
		<%= f.submit 'Atualizar', class: 'btn btn-primary btn-block' %>
	<% end %>
</div>