<div class='container'>
	<h1 class='mb-2'>My Portfolios</h1>
	<%= link_to 'Add portfolio', new_portfolio_path, class: 'btn btn-primary btn-sm mb-3' %>
	<% if @portfolios.length <1 %>
		<p>(No portfolio added yet!)</p>
	<% else %>
		<% @portfolios.each do |portfolio| %>
			<h3><%= link_to portfolio.name, portfolio_path(portfolio) %></h3>
		<% end %>
	<% end %>
</div>
