<div class='container'>
	<h1>My Porfolios</h1>
	<p><%= link_to 'Add', new_portfolio_path %></p>
	<% if @portfolios.length <1 %>
		<p>(No portfolio created yet!)</p>
	<% else %>
		<% @portfolios.each do |portfolio| %>
			<p><%= portfolio.name %></p>
		<% end %>
	<% end %>
</div>
