<div class="app-form text-center">
  <h2>Adicionar Carteira</h2>
	<%= simple_form_for @portfolio do |f| %>
		<%= f.input :name, label: 'Escolha o nome desejado:' %>
		<div class='d-flex justify-content-center align-items-center'>
			<%= link_to 'Voltar', portfolios_path, class: 'btn btn-secondary btn-block w-50 m-0 mr-1' %>
			<%= f.submit 'Adicionar', class: 'btn btn-primary btn-block w-50 m-0 ml-1' %>
		</div>
	<% end %>
</div>