<div class='container'>
  <h1>Add Stock</h1>
  <form action="" id='stock-form'>
    <label for="symbol">Search a stock by symbol:</label>
    <input type="text" name="symbol" placeholder='Stock symbol...' id='symbol'>
    <input type="submit" value='search'>
  </form>

  <div id="stock-list">
  </div>
  
</div>
