<nav class="d-flex justify-content-between align-items-center p-3 mb-4 bg-white"> 
  <%= link_to 'InvestControll', portfolios_path %>
  <div class='d-flex justify-content-around align-items-center mb-o p-0'>
    <p class='mb-0 ml-3'>Avatar</p>	
  </div>
  
</nav>