.app-btn-path {
  position: absolute;
  top: 60px;
  left: 10px;
}

.app-btn-flat {
  border: none;
  background-color: none;
  color: black;
}

.app-btn-flat:hover {
  text-decoration: none;
}

.app-btn-product-select {
  background-color: lightcyan;
  width: 100%;
  margin: 0;
}

hr.no-margin {
  margin: 0;
}

.app-nav-btn {
  border: 2px solid $blue;
}

.nav-left {
  margin-right: -1px;
}

.nav-right {
  margin-left: -1px;
}
