.invest-card {
  position: relative;
}

.fixed-top-right {
  position: absolute;
  background-color: white;
  padding: 0;
  font-size: large;
  border: none;
  right: 7px;
  top: 7px;
}

.fixed-top-right:hover {
  text-decoration: none;
}

.fixed-bottom-right {
  position: absolute;
  bottom: 7px;
  right: 10px;
}

.fixed-bottom-right a:hover {
  text-decoration: none;
}



@media only screen and (max-width: 767px) {
  .invest-card {
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px)  {
  .invest-card {
    width: 48% !important;
  }
}

@media only screen and (min-width: 992px) {
  .invest-card {
    min-width: 32% !important;
  }
}
