.app-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: white;
  width: 100%;
  padding: 8px 16px;
  a {
    color: rgba(0, 0, 0, 0.644);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  a {
    padding-right: 0;
  }
}