.app-table-consolidated {
  max-width: 100%;
  min-width: fit-content;
  overflow-x: scroll;
  font-size: small;
  text-align: center;
  margin: 0 auto;
  
}

.app-table-consolidated table, .app-table-consolidated th, .app-table-consolidated td {
  border: 1px solid black;
}

.app-table-consolidated th, .app-table-consolidated td {
  padding: 4px;
}

.app-table-consolidated th {
  background-color: $blue;
  color: $light-gray;
}

td.text-left, td.text-right, td.text-center {
  padding: 0;
}